/*--------général--------*/

body
{
    font-family: 'Raleway';
    margin: 0px;
}

.content{
    padding: 2em;
} 

.corps i, #pluspopulaires i{
    color: #0062fc;
    font-size: 12px;
}
.star .gris, #pluspopulaires .gris{
    color: #dad9d7;
}