/*--------GENERAL--------*/

body
{
    font-family: 'Raleway';
    src: url('Raleway');
    margin: 0px;
}

.content{
    padding: 2em;
} 

.corps i, #pluspopulaires i{
    color: #0062fc;
    font-size: 12px;
}
.star .gris, #pluspopulaires .gris{
    color: #dad9d7;
}

.navigateur {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.navigateur headerImg {
    height: 50px;
}

.menu {
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}

nav a {
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3.2em;
}

nav li :hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.sinscrire {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.sinscrire a {
    text-decoration: none;
    font-weight: bold;
    color: #0065fc;
    padding-left: 2em;
}