/*--------GENERAL--------*/

body{
    font-family: 'Raleway';
    src: url('Raleway');
    margin: 0px;
}

.content{
    padding: 2em;
} 

.corps i, #pluspopulaires i{
    color: #0062fc;
    font-size: 12px;
}
.star .gris, #pluspopulaires .gris{
    color: #dad9d7;
}

/*-------NAVIGATION------*/

.navigateur {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.navigateur headerImg {
    height: 50px;
}

.menu {
    display: flex;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}

nav a {
    color: black;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 3.2em;
}

nav li :hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.sinscrire {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.sinscrire a {
    text-decoration: none;
    font-weight: bold;
    color: #0065fc;
    padding-left: 2em;
}

/*------RECHERCHE-----*/

.Subheader{
    padding-top: 1.5em;
}

h1{
    font-size: 20px;
}

.Recherche{
    display: flex;
    align-items: center;
    margin: 10px 0 30px 0;
}

.Recherche i {
    background-color: #f2f2f2;
    padding: 13px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 12.9px;
}

.submit{
    padding: 13px;
    font-size: 12px;
    background-color: #0065fc;
    cursor: pointer;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    width: 10em;
}

#MaRecherche {
    
}